.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events: none;

}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.hidden {
  display: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.jpserver{background-color: #f4def7}
.usaserver{background-color: #dee4f7}
.euserver{background-color: #def7e2}
.modalbuy{background: whitesmoke;}
.cellpadderino{padding: 10px;}
.bigtext{font-size: 200%}
.midtext{font-size: 140%}
.spacer{height: 25px;}
.smallspacer{height:8px}
.inline-nav{display: inline-block;}

.navbarspacer
{
    font-size: 0;
    height: 75px;
    line-height: 0;
}

.fixedtable{
    width: 100%;
    height: 100%;
}

.pnlheader{
    font-weight: bold;
    text-align: center;
}

.fflogo {
    float: left;
    width: 50px;
    height: 50px;
}

.roundedbox {
    border-radius: 25px;
    border: 2px solid dimgrey;
    padding: 20px;
}

/*
ui-menu  ui-widget-content ui-autocomplete ui-front
*/

.ui-autocomplete {
  z-index: 1051 !important;
}
.no-overflow{
    overflow: hidden;
}
