.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events: none;

}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.hidden {
  display: none;
}
.navbarspacer
{
    font-size: 0; 
    height: 60px;
    line-height: 0;
}
.spacer
{
    height: 25px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    min-width: 755px;        /* suppose you want minimun width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width: 755px;            /* As IE ignores !important it will set width as 1000px; */
}
